<!DOCTYPE html>
<html>
    <head>
        <title>FTEST</title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script src="../static/js/kinetic-v3.10.5.min.js"></script>
        <script src="../static/js/ftest.js"></script>
    </head>
    
    <body>
    	<div id="imview"></div>
    </body>
</html>
